!!! Strict
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}

    %title Two Things
    = javascript_include_tag 'jquery', 'application', 'tabs'
    = stylesheet_link_tag 'base', 'skeleton', 'layout', 'two_things'
    = yield_content :include
  %body
    .header
      .container
        .title.sixteen.columns
          %h1 Two Things
    .content
      .container
        .main.sixteen.columns
          = yield
